

h1{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 38, 0, 0.874);
}
.conten{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text_mail{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 9px;
  font-size: 20px;
  font-weight: 800;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_form{
  margin: 10px;
  background-color: red;
  color: white;
  
  padding: 9px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.todo{
  background-color: #f0f0f0;  
  margin: 10px 500px;
  border: 1px solid #333; 
  

  text-align: center
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text_card{
  color: rgb(243, 0, 0);
}
.li_card{
  margin: 20px;
  list-style: none;
  font-size: 20px;
}
.delete{
  margin: 4px;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}